<% include ../include/header.ejs %>
<%include ../include/header_usermanage.ejs%>
<%include ../include/update_change_user_sell.js %>

<style>
.usersList-table{}
.usersList-table table{color:#777;border-right:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;background:url(images/TI.jpg) top left ;margin-bottom:15px;}
.usersList .list{height:44px;line-height:44px;color:#fff;font-size:16px;font-weight:bold;font-family:'微软雅黑','幼圆';width:740px;}


</style>
<td>
<div class="usersList" style="float:right;width:1200px;margin:50px auto;">
	<div class="usersList-table">
		<div class="confi">
			
			<div class="confi-border" style="top:0;left:123px;">
				<div class="confi-bg-out" style="width:123px;">
					<div class="confi-bg-in"></div>
				</div>
				<div class="confi-border-b" style="width:121px;"></div>
			</div><!--confi-border end-->
			
			<table style="width:1000px;" id="usersList-table" CellSpacing=30>
				<tr class="list">
					<td width="123">Name</td>
					<td width="123">Price</td>
                    <td width="123">Description</td>
					<td width="123">Time</td>
                    <td width="123">Number  </td>
                    <td width="123">Category  </td>
                    <td width="123">Update  </td>
					<td width="123">Delect  </td>
				</tr>

<style>
.usersList td{
    text-align:center;
    height:30px;
    vertical-align:middle;
    border-left:1px solid #dbdbdb;
    border-top:1px solid #dbdbdb;}
}

</style>

<p>Update : Please Typing update Information on cells and click Update button</p>
<p>Delect : Please click Delect button</p>
<%var n=-1;%>
<% posts.forEach(function(post){ %>
<%n=n+1;%>
				<tr class="kkk" style="background:#f4f4f4;">
					<input hidden  name="id<%=n%>" id="id<%=n%>"  value="<%=post._id%>"/>
					<td style="font-weight:bold;"><input  style="border:0px;width:100px;height:50px;"
					name="name<%=n%>" id="name<%=n%>" value="<%= post.name%>"></input></td>
					
					<td><input  style="border:0px;width:100px;height:50px;"
					name="price<%=n%>" id="price<%=n%>" value="<%= post.price%>"></input></td>
					
					<td><input  style="border:0px;width:100px;height:50px;"
					name="description<%=n%>" id="description<%=n%>" value="<%= post.description%>"></input></td>
					
                    <td><input  ReadOnly style="border:0px;width:150px;height:50px;"
					name="createtime<%=n%>" id="createtime<%=n%>" value="<%= post.createTime%>"></input></td>
					
					<td><input  style="border:0px;width:100px;height:50px;"
					name="number<%=n%>" id="number<%=n%>" value="<%= post.number%>"></input></td>
					
                    <td><input  style="border:0px;width:100px;height:50px;"
					name="category<%=n%>" id="category<%=n%>" value="<%= post.category%>"></input></td>
					
					<td>
					<input type="button" name="update<%=n%>" id="update<%=n%>"   value="UPDATE" style="width:70px;"class="btn btn-primary"></input>
					</td>
					
					<td>
                    <input type="button" id="delect<%=n%>" name="delect<%=n%>"  value="Delect" style="width:70px;" class="btn btn-danger"></input>
					</td>
				</tr>   
<% });%>
			</table>	
		</div>
	</div>
</div>

</td>
</table>

<%- include ../include/footer.ejs %>